* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
  }

body {
    /* min-height: 100vh; */
    display: flex;
    height: 100vh;
    background-color: #F4F6F8;
    padding: 2em 1.2em;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 100%;
    width: 5%;
    border-radius: 10px;
    padding-top: 1rem;
}

.sub-menu a {
    text-decoration: none;
    color: black;
  }
  
  .sub-menu a:hover {
    color: #69a5fe;
  }
  
  .sub-menu li {
    padding: 4px;
  }
  
  .tooltip {
    position: relative;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: #686565;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    margin-left: 20px;
    white-space: nowrap;
  }
  
  .menu-item:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  .sub-menu {
    width: 200px;
    display: none; /* Hide sub-menu by default */
    position: absolute; /* Position the sub-menu absolutely */
    top: 0; /* Align the sub-menu with the top of the parent item */
    left: 100%; /* Position the sub-menu to the right of the parent item */
    background-color: #ffffff; /* Set the background color of the sub-menu */
    padding: 0.5rem; /* Add some padding to the sub-menu */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; /* Add a box shadow to the sub-menu */
    border-radius: 10px; /* Add border radius to the sub-menu */
    z-index: 5;
  }
  
  .menu-item.active .sub-menu {
    display: block; /* Show sub-menu when menu item is active */
  }
  

.menu {
    margin-top: 4rem;
}

.menu-item {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 50px;
    width: 60px;
    margin-top: 1.5rem;
}

.menu-item:hover {
     background-color: #69A5FE;
}

main {
    /* background-color: black; */
    height: 100%;
    width: 95%;
    margin-left: 2em;
}

h1 {
    font-size: 1.7rem;
    font-weight: 400;
    color: black;
}

.profile-section {
    display: flex;
    margin-top: 3em;
    height: 250px;
    /* width: fit-content; */
    border-radius: 10px;
    padding: 1em;
    background-color: #FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.image-section {
    position: relative;
}

.profile-img {
    height: 100%;
    border-radius: 50%;
}

.edit-icon {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
}

.info-cards {
   margin-top: 40px;
    display: flex;
    height: 100%; width: 100%;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    align-items: center;
    background-color: #F8FAFB;
    height: 40%;
    width: 60%;
    border-radius: 5px;
    padding: 10px;
}

.card-title {
    font-weight: 500;
    font-size: 1.1rem;
    color: #69A5FE;
}

.card-des {
    font-size: 0.8rem;
    color:#afafaf;
}

.assign-deadline {
    font-size: 0.8rem;
}

#student-info {
    margin-top: 2em;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table tr:nth-child(even){background-color: #F8FAFB;}
.table tr:hover {background-color: #b9d4fa;}

.table td {
    border: 1px solid #ddd;
    padding: 8px;
}

td > input, select {
    padding: 2px;
}


td:first-child {
    width: 30%;
}

